.new-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    /* height: 100vh; */
    margin-top: 20px;
    border-radius: 20px;
    margin-bottom: 110px;

}
.new-collection h1{
    color: #000;
    font-size: 25px;
    font-weight: 600;

}
.new-collection hr{
    width: 150px;
    /* height: px; */
    background-color: #0b0b0b;
    border-radius: 10px;
    padding: -1px;
    /* margin-bottom: -30PX;
    margin-top: 10PX; */

}
.new-collection-item{
    display: flex;
    margin-top: 30px;
    gap: 30px;
    

}
.collection{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap:30px;
    margin-top: 50px;


}