*{
    margin: 0;
    padding: 0;
}

.hero{
    width: 100vw;
   background-image: linear-gradient(#e89f45,rgb(240, 196, 236));
   display: flex;
}
.Hero-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.1;
    gap:20px;
    padding-left: 150px;

}
.Hero-left h2{
    color: rgb(71, 107, 239);
    font-size: 36px;
    font-weight: 600;
    
   
}
.Hero-left p{
    color: rgb(61, 58, 58);
    font-size: 100px;
    font-style: 700;
    

}
.Hero-hand-icon{
    display: flex;
    /* justify-content: center; */
    gap: 20px;
}
.Hero-hand-icon img{
    width: 105px;
}
.hero-letest-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 190px;
    height: 60px;
    margin-top: 30px;
    border-radius: 75px;
    background-color: rgb(247, 55, 55);
    color: aliceblue;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}
