.newsLatter{
    width: 60%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 0px 140px;
    margin-bottom: 150px;
    background-image: linear-gradient(#e89f45,rgb(240, 196, 236));
    gap: 30px;
    border-radius: 20px;
}
.newsLatter h1{
    color: #0f0e0e;
    font-size: 47px;
    font-weight: 600;
}
.newsLatter p{
    color: #454545;
    font-size: 20px;
}
.newsLatter div{
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    width: 700px;
    height: 70px;
    border-radius: 80px;
    border-radius: 1px solid white;
}
.newsLatter input{
    width: 500px;
    margin-left: 30px;
    border: none;
    outline: none;
    color: #454545;
    font-family: Poppins;
    font-size: 16px;

}
.newsLatter div button{
    width: 200px;
    height: 70px;
    border: none;
    border-radius: 80px;
    background-color: black;
    color: white;
    font-size: white;
    font-size: 16px;
    cursor: pointer;
}