.item{
    width: 350px;
}
.item p{
    margin: 6px 0px;

}
.prices{
    display: flex;
    gap: 20px;
}
.new_prices{
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 600;
}
.old_prices{
    color: #6b6a6a;
    font-size: 18px;
    font-weight: 500;
    
}
.item:hover{
    transform: scale(1.1);
    transition: 0.6s;
}


.item img{
    border-radius: 20px;
}