.reletedProducts{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 92vh;
}
.reletedProducts h1{
    padding-top: 40px;
    color: black;
    font-size: 30px;
    font-weight: 600;
}
.reletedProducts hr{
    width: 300px;
    height: 6px;
    border-radius: 10px;
    background-color: black;

}
.reletedProducts-items{
    display: flex;
    gap: 30px;
    margin-top: 50px;

}