.navbar{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    box-shadow: 1px 3px 2px black;
    border-color: black;
    background-color: rgba(155, 125, 144, 0.175);
}
.nav-logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-logo p{
    font-size: 30px;
    font-weight: 600;
    color: rgb(211, 105, 30);
}
.nav-links{
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 20px;
    list-style: none;
    color: rebeccapurple;
    font-weight: 500;
    cursor: pointer;

}
.nav-links hr{
    width: 100%;
    height: 3px;
    background-color: rgb(185, 35, 35);
    border-radius: 10;
    border: none;
    margin-top: 3px;
}
.nav-cart-icon{
    display: flex;
    align-items: center;
    gap: 50px;
}


.nav-cart-icon button{
    width: 100px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    outline: none;
    border: 1px solid gray;
    font-size: 19px;
    cursor: pointer;


}
.nav-cart-icon button:active{
    background-color: azure;
}
.nav-cart-count{
    height: 20px;
    width: 30px;
    background-color: rgb(246, 51, 41);
    color: wheat;
    border-radius: 11px;
    margin-left: -59px;
    margin-top: -33px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}