.footer{
    background-color: aliceblue;
    padding: 40px 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;


}
.footer-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;

}
.footer-logo img{
    width: 50px;
    height: auto;
    
}
.footer-logo p{
    font-size: 82px;
    font-weight: bold;
    background-image: linear-gradient(#e89f45,rgb(240, 196, 236));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0;

}
.footer ul{
    list-style: none;
    padding: 0;
    margin: 20 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

}
.footer ul li{
    cursor: pointer;
    font-size: 16px;
    transition: color 0.3s;


}
.footer ul li:hover{
    color: #ee0979;

}
.footer-social-icon{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;

}
.footer-icon-container{
    width: 40px;
    height: 40px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px rgba(0,0,0,0,0.1);
    cursor: pointer;
    transition: transform 0.2s ease;

}
.footer-icon-container img{
    width: 20px;
    height: 20px;

}
.footer-icon-container:hover{
   transform: scale(1.1);
}
.footer hr{
    margin: 30px auto 10px;
    width: 80%;
    border: none;
    height: 1px;
    background-color: #ccc;

}
.footer p{
    font-size: 14px;
    color: #666066;
    margin: 10px 0 0;
}
