.popular{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh;
    margin-top: 24px;
    border-radius: 20px;
    padding-bottom: 60px;

}
.popular h1{
    padding-top: 25PX;
    color: #000;
    font-size: 25px;
    font-weight: 600;

}
.popular hr{
    width: 150px;
    height: 20px;
    background-color: #0a0a0a;
    border-radius: 10px;
    padding: -1px;

}
.popular-item{
    display: flex;
    margin-top: 30px;
    gap: 30px;
    

}