.offers{
    width: 60%;
    height: 70vh;
    display: flex;
    margin: auto;
    margin-bottom: 120px;
    padding: 70px 150px;
    background-image: linear-gradient(#e89f45,rgb(240, 196, 236));
    border-radius: 20px;

}
.offers-left{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.offers-left h1{
    color: black;
    font-size: 70px;
    font-weight: 600;

}
.offers-left p{
    color: black;
    font-size: 22px;
    font-weight: 600;
}
.offers-left button{
    width: 280px;
    height: 70px;
    border-radius: 30px;
    padding: 10px;
    margin-top: 30px;
    background-color: red;
    color: wheat;
    border: none;
    font-size: 30px;
}
.offers-left button:hover{
    transition: scale(0.9);
    transition: 0.4s;
}
.offers-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}